@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/******************************************/
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
}

/******************************************/
header {
    background-color: #0f172a;
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
}

/******************************************/
main {
    background-color: #1e293b;
    color: #ffffff;
    display: grid;
    grid-template-columns: 3.5fr 1fr;
}

/*******Bookshelve area*******/
main .bookshelf h2 {
    padding-left: 3rem;
}
main .bookshelf .books-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
main .bookshelf .books-container .card {
    background-color: #0f172a;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    text-align: center;
}
main .bookshelf .books-container .book-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.1rem;
    font-size: 1.2rem;
}
main .bookshelf .books-container .book-details p:first-child {
    font-weight: bold;
    text-align: left;
}
main .bookshelf .books-container .book-details p:last-child {
    text-align: left;
}
main .bookshelf .books-container .card .book-details .read {
    border: none;
    padding: 0;
    background-color: #0f172a;
    font-size: 1.2rem;
    color: rgb(153, 255, 0);
}
main .bookshelf .books-container .card .book-details .not-read {
    border: none;
    padding: 0;
    background-color: #0f172a;
    font-size: 1.2rem;
    color: rgb(255, 0, 0);
}
main .bookshelf .books-container .card .book-details .read:hover {
    transform: scale(1.1);
}
main .bookshelf .books-container .card .book-details .not-read:hover {
    transform: scale(1.1);
}
main .bookshelf .books-container .card .remove-book {
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
    border: none;
    background-color: rgb(255, 104, 127);
    color: #fdfdfd;
    font-weight: bold;
    font-size: 1rem;
}
main .bookshelf .books-container .card .remove-book:hover {
    transform: scale(1.1);
}

/*******Adding new book form area*******/
main form h2 {
    margin: 1.5rem 2rem;
    text-align: center;
}
.form-field {
    background-color: #0f172a;
    margin: 1.5rem 1rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}
.form-field .about-book input {
    width: 90%;
    height: 27px;
    border: none;
    border-radius: 10px;
}
.read-status label{
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}
input[type="checkbox"] {
    margin: 0;
    width: 1.25rem;
    height: 1.25rem;
    border: 0.1em solid rgb(196, 196, 196);
    border-radius: 0.25em;
}
.form-field label {
    font-size: 1.2rem;
    text-align: left;
}
.form-field label span {
    color: red;
    font-size: 0.9rem;
}
.form-field button {
    padding: 0.5rem 2.5rem;
    border-radius: 15px;
    border: none;
    background-color: rgb(19, 153, 124);
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

/*****************************/
footer {
    background-color: #0f172a;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
footer p:last-child{
    display: flex;
    align-items: center;
    gap: 5px;
}