body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 120px 1fr 60px;
}
header {
    background-color: lightblue;
}
main {
    background-color: white;
    display: grid;
    grid-template-columns: 3.5fr 1fr;
}
main .bookshelve {
    background-color: lightgreen;
}
main form h2 {
    margin: 2rem;
    text-align: center;
}
.form-field {
    margin: 2rem 1rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.form-field .about-book input {
    width: 90%;
    height: 25px;
    border: 0.1px solid rgb(196, 196, 196);
    border-radius: 10px;
}
.read-status label{
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}
input[type="checkbox"] {
    margin: 0;
    width: 1.25rem;
    height: 1.25rem;
    border: 0.1em solid rgb(196, 196, 196);
    border-radius: 0.25em;
}
.form-field label {
    font-size: 1.2rem;
}
.form-field label span {
    color: red;
    font-size: 0.9rem;
}
.form-field button {
    padding: 0.5rem 2.5rem;
    border-radius: 15px;
    border: none;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
footer {
    background-color: lightpink;
}